<!-- Sidebar -->
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion shadow-lg" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center py-3" href="/admin-dashboard">
    
    <div class="sidebar-brand-text mx-3 fw-bold text-light">Product Management</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0 bg-secondary">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link text-light" href="/admin-dashboard">
      <i class="fas fa-fw fa-tachometer-alt text-info"></i>
      <span>Products</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-light" href="/admin-dashboard/create-product">
      <i class="fas fa-fw fa-plus-circle text-success"></i>
      <span>Create Products</span>
    </a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link text-light" href="/admin-dashboard/category">
      <i class="fas fa-fw fa-tags text-warning"></i>
      <span>Category</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider bg-secondary d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <!-- <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0 bg-light" id="sidebarToggle"></button>
  </div> -->
</ul>
<!-- End of Sidebar -->
